<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('_header.ejs') %>
    <h2>Home views</h2>
    <%- include('_footer.ejs') %>
</body>

</html>